*{
    margin:0;
    padding:0;
}

h1{
    background-color:rgb(5, 8, 49);
    color: white;
    height: 4rem;
    text-align: center;
    line-height: 4rem;

}

.choice{
    height: 165px;
    width:165px;
}

.choice:hover{
    opacity:0.5;
    cursor:pointer;
}



img{
    height: 150px;
    width: 150px;
    
    
     
}

.choices{
    display:flex;
    
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
    
}

.score-board{
    display: flex;
    justify-content: center;
    gap:5rem;
    align-items: center;
     
}

#user-score,#comp-score{
    font-size:4rem;

}
.msg-container{
    text-align: center;
    margin-top:5rem;
    
}

#msg{
    font-size: 2rem;
    background-color: rgb(6, 6, 58);
    display:inline;
    margin:3rem;
    padding:1rem; 
    text-align: center;
    color:white;
    border-radius: 1rem;
    
    
}